body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffe6f0;
}

.container.ganador {
  background-color: #ffd6e8;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

h1 {
  color: #e91e63;
  margin-bottom: 20px;
}

h2 {
  color: black;
  margin-bottom: 10px;
}

p {
  color: #444;
  font-size: 18px;
}

.imagen {
  width: 250px;
  height: auto;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #f48fb1;
  font-size: 16px;
  text-align: center;
  margin-bottom: 15px;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #e91e63;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #d81b60;
}

.corazon-contenedor {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}

.numeros span {
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 22px;
}

/* Posiciones de los números dentro del corazón */
.n1 { top: 5%; left: 25%; }
.n11 { top: 25%; left: 80%; }
.n2 { top: 35%; left: 10%; }
.n12 { top: 5%; left: 70%; }
.n3 { top: 25%; left: 40%; }
.n13 { top: 72%; left: 47%; }
.n4 { top: 10%; left: 85%; }
.n14 { top: 55%; left: 28%; }
.n5 { top: 20%; left: 25%; }
.n15 { top: 45%; left: 60%; }
.n6 { top: 20%; left: 60%; }
.n16 { top: 35%; left: 25%; }
.n7 { top: 45%; left: 40%; }
.n17 { top: 37%; left: 74%; }
.n8 { top: 55%; left: 65%; }
.n18 { top: 34%; left: 50%; }
.n9 { top: 58%; left: 50%; }
.n19 { top: 15%; left: 10%; }


